* {
    font-family: "Nunito";
}

/* start of header */

.title-bar-container {
    cursor: grab;
    user-select: none;
    background-color: #262626;
    display: flex;
    align-items: center;
    height: 30px;
}

.title-bar-container:active {
    cursor: grabbing;
}

/* .app-info-container {
    display: flex;
    align-items: center;
    flex: 1;
} */

.app-logo {
    height: 26px;
    margin-left: 5px;
}

.app-title-container {
    display: flex;
    justify-content: center;
    flex: 1;
}

.cross-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
}

.cross-icon:hover {
    background-color: #ca1515;
    cursor: pointer;
}

/* ------ end of header */

.result {
    height: 20px;
    line-height: 20px;
    margin: 1.5rem auto;
}

.input-box .btn {
    width: 60px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    border: none;
    margin: 0 0 0 20px;
    padding: 0 8px;
    cursor: pointer;
}

.input-box .btn:hover {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    color: #333333;
}

.input-box .input {
    border: none;
    border-radius: 3px;
    outline: none;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background-color: rgba(240, 240, 240, 1);
    -webkit-font-smoothing: antialiased;
}

.input-box .input:hover {
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

.input-box .input:focus {
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

/* start of menu */

.full-mode {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    gap: 4px;
}

.sub-menu-container {
    display: flex;
    width: 95%;
    justify-content: flex-end;
}

.sub-btn {
    width: 70px;
}

.sub-btn-text {
    color: white;
    cursor: pointer;
    font-size: 0.8rem;
    outline: none;
}

.btn {
    max-width: 100%;
    height: 34px;
    background-color: #686868;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.1rem;
    outline: none;
    flex-basis: 0;
    flex: 1 1 0px;
    transition: transform 0.1s ease, background-color 0.2s ease;
}

.btn:active {
    transform: scale(0.95);
}

.on-top {
    background-color: #12a1ab;
}

.btn:hover {
    background-color: #15beca;
}

/* end of menu */

.button-to-overlay-mode {
    width: 100%;
    height: 28px;
    background-color: #4f4f4f;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    transition: transform 0.1s ease, background-color 0.2s ease;
    margin-bottom: 5px;
    margin-top: 5px;
}

.button-to-overlay-mode:hover {
    background-color: #15beca;
    font-size: 1.1rem;
}

.button-to-overlay-mode:active {
    transform: scale(0.95);
}

/* start of windows */

.windows-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
}

.window-item {
    display: flex;
    width: 100%;
    margin: 1px;
    font-size: 1.2rem;
    background-color: #4b4b4b;
    border-radius: 4px;
    height: 45px;
    align-items: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.icon-container {
    margin-right: 10px;
}

.class-icon {
    height: 43px;
    padding-top: 3px;
}

.left-container {
    width: 80%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.character-name {
    margin-right: 10px;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}

.class-name {
    margin-left: 10px;
    margin-right: 10px;
}

.move-button {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    border: none;
    margin: 0 5px;
    padding: 0 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.move-button-arrow {
    width: 28px;
}

.move-button:not(:disabled):hover {
    background-color: #15beca;
    color: #333333;
}

.move-buttons-container {
    display: flex;
}

.toggle-container {
    margin-top: 10px;
    user-select: none;
}

.up-toggle-container {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}

input[type="checkbox"] {
    transform: scale(1.5);
    margin-left: 10px;
    outline: none;
    cursor: pointer;
}

/* label {
    font-size: 18px;
    font-weight: bold;
    background-color: #434343;
    padding: 5px;

    border-radius: 4px;
} */

.toggle-label {
    width: 65%;
    padding: 5px;
    border-radius: 4px;
    font-size: 1.2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.toggle-label.paused {
    background-color: #2d2d2d;
    color: #bebebe;
}
.toggle-label.active {
    color: white;
    background-color: #434343;
    border: 2px solid #15beca;
}

.toggle-label-individual {
    width: 65%;
    padding: 5px;
    border-radius: 4px;
    font-size: 1.2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.toggle-label-individual.paused {
    background-color: #2d2d2d;
    color: #bebebe;
}
.toggle-label-individual.active {
    color: white;
    background-color: #434343;
    border: 2px solid #15beca;
}

.active {
    accent-color: #15beca;
}

.paused {
    accent-color: #393939;
    opacity: 70%;
}

.toggle-active {
    border: 2px solid #15beca;
}

.bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
    user-select: none;
}
.dropdown-label {
    width: 350px;
    display: flex;
    justify-content: space-between;
    /* margin: 2px; */
    padding: 4px;
    /* background-color: #4b4b4b; */
    border-radius: 4px;
    font-size: 1.2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.dropdown {
    outline: none;
    cursor: pointer;
    background: #5e5e5e;
    border: none;
    color: white;
}

.dropdown:hover {
    outline: none;
    cursor: pointer;
}

.individual-dropdown {
    outline: none;
    cursor: pointer;
    background: #5e5e5e;
    border: none;
    color: white;
    max-width: 70px;
}

.individual-dropdown:hover {
    outline: none;
    cursor: pointer;
}

.dropdown-option:hover {
    cursor: pointer;
}

.footer {
    height: auto;
    cursor: grab;
    user-select: none;
    flex: 1;
}

.footer:active {
    cursor: grabbing;
}

/* START OF OVERLAY STYLING MODE */

.overlay-mode {
    height: 100vh;
    width: 100%;
    display: flex;

    align-items: center;
}

.expand-icon {
    height: 38px;
    width: 38px;
    cursor: pointer;
    padding-left: 2px;
}

.expand-icon:hover {
    transform: scale(1.1);
    background-color: #4b4b4b;
    border-radius: 4px;
}

.overlay-characters-container {
    display: flex;
    border: none;
    overflow: hidden;
}

.overlay-character-item {
    height: 38px;
    width: 43px;
    padding-bottom: 4px;
    margin: 0 1px;
}

.char-active {
    background-color: #598c90;
    border-radius: 4px;
}

.overlay-character-item:hover {
    background-color: #84ccd1;
    border-radius: 4px;
    cursor: pointer;
}

.overlay-class-icon {
    height: 38px;
}

.overlay-footer {
    height: 100vh;
    flex-grow: 1;
    cursor: grab;
}

.overlay-footer:active {
    cursor: grabbing;
}
