#app {
    height: 100vh;
    text-align: center;
}

#logo {
    display: block;
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 10% 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
}

.result {
    height: 20px;
    line-height: 20px;
    margin: 1.5rem auto;
}

.input-box .btn {
    width: 60px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    border: none;
    margin: 0 0 0 20px;
    padding: 0 8px;
    cursor: pointer;
}

.input-box .btn:hover {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    color: #333333;
}

.input-box .input {
    border: none;
    border-radius: 3px;
    outline: none;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background-color: rgba(240, 240, 240, 1);
    -webkit-font-smoothing: antialiased;
}

.input-box .input:hover {
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

.input-box .input:focus {
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

.menu-container {
    display: flex;
}

.windows-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
}

.window-item {
    display: flex;
    width: 100%;
    margin: 5px;
    font-size: 1.5rem;
    border: 2px solid rgb(149, 143, 143);
    padding: 5px;
}

.left-container {
    width: 80%;
    display: flex;
    justify-content: left;
}
.character-name {
    margin-right: 10px;
}

.class-name {
    margin-left: 10px;
}

.move-button {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    border: none;
    margin: 0 10px;
    padding: 0 8px;
    cursor: pointer;
}

.move-button:hover {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    color: #333333;
}

.move-buttons-container {
    display: flex;
}

input[type="checkbox"] {
    transform: scale(1.5);
    margin-left: 10px;
}

label {
    font-size: 18px;
    font-weight: bold;
}

.active {
    accent-color: #9b59b6;
}

.paused {
    accent-color: #393939;
}
